<section>
<h1>New Manager</h1>
<%= render 'form' %>
<br>
 <%= link_to "Back", admin_staffs_path, class: 'btn btn-default' %>
</section>

<!-- <form action="/managers" method="post">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  <div>
    <label for="email">Email</label>
    <input type="text" name="managers[email]">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="managers[password]">
  </div>
  <input type="submit" name="commit" value="Create stadium">
</form>

<a href="/admins">Back</a> -->