<div class="list-group text-center">
    <%= link_to "Peer Selection" , staff_peer_selections_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to "Self Evaluation" , staff_self_evaluations_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to "Peer Evaluation" , staff_peer_evaluations_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to "Result" , staff_evaluation_results_path, class: 'btn btn-lg btn-primary' %>
</div>