<div class="action-link pull-center">
  <%= link_to "Peer Selection" , staff_peer_selection_path, class: 'btn btn-success' %>
  <br>
  <%= link_to "Self Evaluation" , class: 'btn btn-success' %>
  <br>
  <%= link_to "Peer Evaluation", class: 'btn btn-success' %>
  <br>
  <%= link_to "Results", class: 'btn btn-success' %>
</div>