<h1><%= current_period.phase_i18 %></h1>
<h2>Manager Evaluation</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Evaluation</th>
    </tr>
  </thead>
  <tbody>
    <% @manager_evaluations.each do |m| %>
      <tr>
        <td><%= m.staff.name%></td>
        <td><%= m.status %></td>
        <td><%=link_to 'Evaluation', edit_manager_manager_evaluation_path(m), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>