<h1>Welcome <%= @staff.name %></h1>
<p>Your account to login HR Evaluation System is</p>
<p>your email is: <%= @staff.email %></p>
<p>your password is: <%= @staff.display_password %></p>
<p>Please follow this url to login system <%= staff_root_url %></p>
<p>Thanks for joining and have a great day!</p>